<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Upload file </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">					
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>



    {% block body %}
	<nav class="navbar navbar-light bg-light justify-content-between">
      <h1 class="p-3 mb-2 bg-white text-black">HOME WORK 5</h1>
      <form class="form-inline">
        <a class="btn btn-dark btn-lg" href="{{ url_for('logout') }}" >Log out</a>
      </form>
    </nav>
	<div align="center">
          <h1 class="p-3 mb-2 bg-dark text-white">WELCOME TO HOME WORK 5</h1>
          <div class="jumbotron">
            
            <h1 class="display-4">Hello, {{ session['username'] }}!</h1>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success"> {{ message|capitalize }} </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <p class="lead">This is your home page you can render some saved images <a href="http://localhost:5000/static/uploads/sunset.jpg">here</a></p>
            <hr class="my-4">
						
            <p>You can upload a new image here  </p>
            <p class="lead">
			  <a  href="{{ url_for('upload') }}" role="button">Upload Image</a>
            </p>
          </div>
      </div>{% endblock %}

    


</html>