{% extends "layout.html" %}
{% block body %} 
<nav class="navbar navbar-light bg-light justify-content-between">
      <h1 class="p-3 mb-2 bg-white text-black">HOME WORK 5</h1>
      <form class="form-inline">
		<a class="btn btn-dark btn-lg" href="{{ url_for('index') }}" role="button">Home</a>
		
        <a class="btn btn-dark btn-lg" href="{{ url_for('index') }}" role="button">Log out</a>
      </form>
    </nav>
<div class="upload-page">
    <div class="form">
        
			<h3>Upload img here</h3>
			{% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger"> {{ message|capitalize }} </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
			<hr class="my-4">
            <form class="login-form" method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
            <input type=file name=file>
			<hr class="my-4">
			<button>Upload</button>
            
			</form>
            <br>
        </div>
    
</div>
{% endblock %}